.col-full,
.col-half {
  width: 95%;
}
.col-ten {
  width: 5%;
}

@media screen and (min-width: 768px) {
  .container,
  .nav-bar {
    max-width: 900px;
  }

  .col-full,
  .col-half {
    padding: 0 0.75rem;
  }

  .col-half {
    width: 47.5%;
  }
}
