.col-full,
.col-half {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.col-ninety {
  width: 90%;
}

.col-five {
  width: 10%;
}


@media screen and (min-width: 768px) {
  .container,
  .nav-bar {
    max-width: 900px;
  }
  .row {
    flex-wrap: nowrap;
  }
  .col-five {
    width: 2.5%;
  }

  .col-half {
    width: 50%;
    align-self: flex-start;
  }
  .edit-icon {
    font-size: 1.5rem;
  }
  .pic {
    max-width: 100%;
  }
}
