* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.navbar {
  background-color: #9fd8df;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  text-decoration: none;
  outline: none;

}
.navbar-title,
.navbar-entries {
  text-decoration: none;
  color: white;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.form-container {
  width: 100%;
}
.entries-title {
  margin: 1rem;

}
.pic-container {
  margin-bottom: 1rem;
}
.entry-card {
  margin: 1rem 1rem 2rem 1rem;
  border: 1px solid black;

}
.pic {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 1px 2px 5px black;

}
form {
  margin: 1rem;
}

.box {
  margin-bottom: 0.5rem;
}

.titles {
  margin-bottom: 1rem;
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.input, .notes {
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px black;
}

.notes {
  margin-right: 1rem;
}
.overlay {
  background-color: rgba(163, 163, 163, 0.486);
  height: 100vh;
  width: 100%;
  position: fixed;
}
